.select2-selection {
    overflow: hidden;
}

.select2-selection__rendered {
    white-space: normal;
    word-break: break-all;
}

.select2-container .select2-search--inline .select2-search__field{
    width: 100%;
    min-width: 160px;
}

.form-required::after {
    content: '*'; color: #e53e3e; font-weight: bold; margin-left: 2px;
}
